@model WebSite.Models.Car
@{
    Layout = "/Views/Home/MasterView.cshtml";
}

<table border="1px solid black">
    <tr>
        <td id="main_title" colspan="3"><h1>@Model.Title</h1></td>
    </tr>
    <tr class="big_pic">
        <td colspan="3"><img id="Preview" src="@Model.SubPreview.Split(',')[0]" /></td>
    </tr>
    <tr class="small_pic">
        <td><img onclick="SetIMG(this.src)" src="@Model.SubPreview.Split(',')[0]" /></td>
        <td><img onclick="SetIMG(this.src)" src="@Model.SubPreview.Split(',')[1]" /></td>
        <td><img onclick="SetIMG(this.src)" src="@Model.SubPreview.Split(',')[2]" /></td>
    </tr>
</table>

