@model IEnumerable <WebSite.Models.Car>
@{
    Layout = "/Views/Home/MasterView.cshtml";
}
                <table>
                    <tr>
                        <td id="main_title" colspan="3"><h1>Главная</h1></td>
                    </tr>
                    <tr>
                        @foreach (var item in Model)
                        {
                            <td class="small_card">
                                <img alt="@item.Title" src="@item.Preview" />
                                <div class="content">
                                    <small>@item.Type</small>
                                    <h2>@item.Title</h2>
                                    <p>@item.Description</p>
                                    <a href="@Url.Action("CarPage", "Home", new {item_id=item.Id })">Перейти</a>
                                </div>
                            </td>
                        }
                    </tr>
                    <tr>
                        @Html.Action("Form", "Home")
                    </tr>
                </table>
           
